<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="QuanLyThuVien.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="QLTVConnection"
    connectionString="Server=.\SQLEXPRESS;Database=QuanLyThuVien;Integrated Security=True;TrustServerCertificate=True"
    providerName="System.Data.SqlClient" />
	</connectionStrings>
 <userSettings>
  <QuanLyThuVien.Properties.Settings>
   <setting name="MauTheme" serializeAs="String">
    <value>128, 128, 255</value>
   </setting>
  </QuanLyThuVien.Properties.Settings>
 </userSettings>
</configuration>